<a href="https://colab.research.google.com/github/saifulrijal-ds/python-datascience/blob/master/modeling_case_1_employee_attrition.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [0]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [0]:
from sklearn.model_selection import cross_val_score

In [3]:
employee = pd.read_excel("/content/employee(1).xlsx")
employee

       Emp ID  satisfaction_level  last_evaluation  ...     dept  salary  left
0           1                0.38             0.53  ...    sales     low     1
1           2                0.80             0.86  ...    sales  medium     1
2           3                0.11             0.88  ...    sales  medium     1
3           4                0.72             0.87  ...    sales     low     1
4           5                0.37             0.52  ...    sales     low     1
...       ...                 ...              ...  ...      ...     ...   ...
14994   14995                0.40             0.57  ...  support     low     1
14995   14996                0.37             0.48  ...  support     low     1
14996   14997                0.37             0.53  ...  support     low     1
14997   14998                0.11             0.96  ...  support     low     1
14998   14999                0.37             0.52  ...  support     low     1

[14999 rows x 11 columns]

In [8]:
employee.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14999 entries, 0 to 14998
Data columns (total 11 columns):
Emp ID                   14999 non-null int64
satisfaction_level       14999 non-null float64
last_evaluation          14999 non-null float64
number_project           14999 non-null int64
average_montly_hours     14999 non-null int64
time_spend_company       14999 non-null int64
Work_accident            14999 non-null int64
promotion_last_5years    14999 non-null int64
dept                     14999 non-null object
salary                   14999 non-null object
left                     14999 non-null int64
dtypes: float64(2), int64(7), object(2)
memory usage: 1.3+ MB

## Decision Tree

In [0]:
y = employee.left
X = employee.drop(["left", "Emp ID", "dept", "salary"], axis=1)

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, 
                                                    stratify=y)

print(X_train.shape)
print(X_test.shape)

(10499, 7)
(4500, 7)

In [19]:
model = DecisionTreeClassifier()
model.fit(X_train, y_train)
pred = model.predict(X_test)
print("The accuracy score of the Decision Tree is", 
      accuracy_score(y_true=y_test, y_pred=pred))

The accuracy score of the Decision Tree is 0.9815555555555555

### Cross Validation

In [21]:
print(cross_val_score(model, X, y, cv=10))

[0.98266667 0.98266667 0.97       0.96466667 0.96133333 0.98
 0.986      0.99       0.99933333 1.        ]